:root {
    --screen-width: 1920px;
    --screen-height: 1080px;
    --title-height: 250px;
    --subtitle-height: 350px;
    --foot-height: 100px;

    --background-color: white;
    --primary-color: #003262;
    --secondary-color: #3B7EA1;
    --tertiary-color: #00A598;
  }

html {
    font-family: 'Open Sans';
    line-height: 1.25;
    color: var(--primary-color);
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: var(--screen-height);
    min-height: var(--screen-height);
    outline:1px var(--primary-color) solid;
    line-height: 1.25;
    clear: both;

    font-size: 24pt;
}

.title-box {
    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: var(--title-height);
    min-height: var(--title-height);
    display: flex;
}

.title {
    margin: auto;
    width: 90%;
    font-size: 40pt;
    font-weight: bold;
    text-align: left;
    align-self: flex-end;
    box-shadow: -10px 0 0 var(--primary-color);
    padding-left: 10px;
}

.full-title-box {
    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: calc(var(--screen-height) - var(--subtitle-height) - var(--foot-height));
    min-height: calc(var(--screen-height) - var(--subtitle-height) - var(--foot-height));
    display: flex;
}

.full-title {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 80pt;
    text-align: center;
    align-self: flex-end;
}

.full-subtitle-box {
    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: var(--subtitle-height);
    min-height: var(--subtitle-height);
    display: flex;
}

.full-subtitle {
    margin: auto;
    width: 60%;
    font-size: 40pt;
    text-align: center;
}

.full-box {
    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: calc(var(--screen-height) - var(--title-height) - var(--foot-height));
    min-height: calc(var(--screen-height) - var(--title-height) - var(--foot-height));
    line-height: 1.25;
}

.half-box {
    max-width: calc(var(--screen-width) / 2);
    min-width: calc(var(--screen-width) / 2);
    max-height: calc(var(--screen-height) - var(--title-height) - var(--foot-height));
    min-height: calc(var(--screen-height) - var(--title-height) - var(--foot-height));
    line-height: 1.25;
    float: left; 
    flex-direction: column;
}

.half-half-box {
    max-width: calc(var(--screen-width) / 2);
    min-width: calc(var(--screen-width) / 2);
    max-height: calc((var(--screen-height) - var(--title-height) - var(--foot-height)) / 2);
    min-height: calc((var(--screen-height) - var(--title-height) - var(--foot-height)) / 2);
    line-height: 1.25;
    float: left;
}

.foot-box {
    max-width: var(--screen-width);
    min-width: var(--screen-width);
    max-height: var(--foot-height);
    min-height: var(--foot-height);
    display: flex;
    line-height: 1.25;
    clear: both;
    font-size: 20pt;
}

.slide-number {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 3px;
    margin-right: 15px;

    padding: .25em 0;
    color: white;
    background: var(--primary-color);
    box-shadow: 10px 0 0 var(--primary-color), -10px 0 0 var(--primary-color);
}

.date, .footnote {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 3px;
    margin-left: 15px;

    padding: .25em 0;
    color: white;
    background: var(--primary-color);
    box-shadow: 10px 0 0 var(--primary-color), -10px 0 0 var(--primary-color);
}

.titlenote {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 3px; 

    padding: .25em 0;
    color: white;
    background: var(--primary-color);
    box-shadow: 10px 0 0 var(--primary-color), -10px 0 0 var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

ul {
    list-style: circle;
    margin-left: 30px;
}

.section {
    background-color: var(--primary-color);
    color: var(--background-color);
}